<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!-- centrare un elemento linea orizzontalmente  -->
    <div class="genitore">
        <a href="#">link</a>
        <a href="#">link</a>
        <a href="#">link</a>
    </div>
    <!-- centrare un elemento "blocco" orizzontalmente  -->

    <div class="container">

        <div class="colonna"></div>

    </div>

    <!-- centrare un contenitore per layout (anche a griglia)  -->

    <div class="container">

        <div class="colonna"></div>
        <div class="colonna"></div>
        <div class="colonna"></div>
        <div class="colonna"></div>
        <div class="colonna"></div>
        <div class="colonna"></div>

    </div>

</body>
</html>